<template>
  <div id="">
    <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Visit Us</h3>
    </div>

      <div class="panel-body" itemscope itemtype="http://schema.org/Organization">
        <p itemprop="name">Oskars Barber 4 Men</p>
      <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"></p>
        <span itemprop="streetAddress">184 high street</span>
        <span itemprop="postalCode">CT6 5AP</span>
        <span itemprop="addressLocality">Herne Bay, Kent, UK</span>
        <p>Phone: <span itemprop="telephone">07447 008787</span></p>
        <p>Email: <span itemprop="email">oskarsbarbers4men</span><span class="visible-sm"> </span>(at)live.co.uk</p>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Opening Hours</h3>
      </div>
      <div class="panel-body" itemscope itemtype="http://schema.org/LocalBusiness">
        <time itemprop="openingHours" datetime="Mo-We, Fr 09:00-18:00">Mondays to Wednesdays, Fridays 9am-6.00pm</time>
        <time itemprop="openingHours" datetime="Th 09:00-18:30">Thursdays 9am-6.30pm</time>
        <time itemprop="openingHours" datetime="Sa 08:30-17:30">Saturdays 8.30am-5.30pm</time>
        <time itemprop="openingHours" datetime="Su 09:30-16:00">Sundays 9.30am-4.00pm</time>
      </div>
    </div>

  
  </div>
</template>
<script>
export default {
  name: "",
  data: () => ({

  })
}
</script>
<style lang="scss" scoped>
time {
  display: block;
  // color: red;
}

.panel-info > .panel-heading {
  background: #E0CCF5;
  border-color: #C299EB;
  color: inherit;
}
.panel {
  border: 1px solid #C299EB;
}
.panel img {
  border: 1px solid #000;
  margin: 2px;
}
</style>
