<template>
  <div id="">
    <footer>
    <!-- AddToAny BEGIN -->
    <!-- <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
      <a class="a2a_dd" href="http://www.addtoany.com/share_save"></a>
      <a class="a2a_button_facebook"></a>
      <a class="a2a_button_twitter"></a>
      <a class="a2a_button_google_plus"></a>
    </div> -->

      <div class="container">
			<div class="text-center hor"> Follow Us: <a href="http://www.facebook.com/oskarsbarbers"><img src="/static/png/glyphicons_social_30_facebook.png" alt="Facebook logo"></a>
				 </div>

			<div class="gen-pad">&#64 2013 Oskars Barber 4 Men<span class="pull-right"></span></div>
      </div>
    </footer>


  </div>
</template>
<script>
export default {
  name: "",
  data: () => ({
    name: "&#64 2013 Oskars Barber 4 Men"
  })
}
</script>
<style lang="scss" scoped>
footer {
    border-top: 0px dashed #666;
    // height: 80px;
    background: #7A52CC;
    font: 12px 'Merriweather', serif;
    color: #ddd;  
  .container {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
  }
  .hor {
      border-bottom: 1px solid #999;
      padding: 10px 0;
  }  
  .gen-pad {
      // padding-top: 5px;
      // padding-bottom: 5px;
  }
}
</style>
