<template>
  <div id="">
    
    <div :class="{ default2 : hideUL }"><a href="#" ref="trigg" class="icon"  @click="hide">MENU</a></div>
    <nav>
      <router-link to="/">
        <img src="/static/Oskars-Barber-4-Men-banner.png" alt="Oskars Barbers 4 Men" class="img-responsive cen-blo">
      </router-link>
      <!-- <a href="/"><img src="/static/Oskars-Barber-4-Men-banner.png" alt="Oskars Barbers 4 Men" class="img-responsive cen-blo"></a>     -->
      <ul :class="{ responsive : show }">
        <li v-for="item in navi"  @click="show = false">
          <router-link  :to="item.link" exact>{{ item.label }}</router-link>
        </li>
        <li> <a href="#" @click="toggle">Contact us</a></li>
      </ul>
    </nav>
<div id="overlay" :class="{ overlay : showModal }" ></div>
<!-- MODAL CONTACT FORM -->
	<div class="modal animated " :class="{ fadeIn : showModal}" :style="myStyle" >
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" data-dismiss="modal">&times;</button>
					<h3>Contact Oskars Barbers 4 Men</h3>
				</div>
				<div class="modal-body">
					<!-- <form  role="form" id="contact-form"> -->
						<div class="form-group">
							<label for="contact-name">Name:</label><span id="nameReq" class="frm-err pull-right"></span>
							<div class="controls">
								<input type="text" id="contact-name" name="contact-name" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label for="contact-email">Email:</label><span id="emailReq" class="frm-err pull-right"></span>
							<div class="controls">
								<input type="email" id="contact-email" name="contact-email" class="form-control" ref="email">
							</div>
						</div>	
									
						<div class="form-group">
							<label for="contact-message">Message:</label><span id="msgReq" ></span>
							<div class="controls">
								<textarea name="contact-message" class="form-control" ref="msg" id="contact-message" cols="30" rows="10" wrap="hard"
                :class="{ err: formErr}" @click="formErr = false"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="controls">
								<input type="submit" class="btn btn-primary" value="Send Message" @click="checkForm"> <span id="counter"></span>
								 <button type="button" class="btn btn-default pull-right" data-dismiss="modal" @click="toggle">Close</button>
							</div>
						</div>
					<!-- </form> -->
				</div>
			</div> <!-- modal-content -->
		</div> <!-- modal-dialog -->
	</div> <!-- end modal -->   

  </div>
</template>
<script>
export default {
  name: "",
  data: () => ({
    nav: ['Home', 'Pictures', 'Prices', 'Contact Us'],
    show: false,
    hideUL: true,
    default: false,
    formErr: false,
    showModal: false,
    navi: [
      {
        label: 'Home', link: '/'
      },
      {
        label: 'Pictures', link: '/pictures'
      },
      {
        label: 'Prices', link: '/prices'
      }
      // {
      //   label: 'Contact us', link: '/contactUs'
      // }
    ]
  }),
  methods: {
    hide() {
      this.show = !this.show
      this.hideUL = true
      console.log('message ' + this.hideUL) // testing ignoring semi-colon
      // console.log(this.$refs.outer;
    },
    hide2() {
      this.default = true;
    },
    toggle() {
      this.showModal = !this.showModal
      this.show = false
    },
    blur() {
      this.show = false
    },
    checkForm() {
      this.formErr = true;
      
        console.log('err: ' + this.$refs.msg.value)
      
    }
  },
  computed: {
    myStyle() {
      if(this.showModal) { 
        return { display: 'block', transition: '1s'};
      } else {
        return{};
      }
    }
  }    
}
</script>
<style lang="scss" scoped>
* {
  // transition: 1s;
}
.err {
  border: 1px solid red;
  background-color: #f8d9dd;
  transition: 0.1s;
}

// a {
//  &:link, &:visited {
//     text-decoration: none;
//     // color: #fff;
//     background-color: #000;
//   }
//   &:hover, &:focus {
//     // background-color: #ddd;
//   }
// }
nav {
  display: flex;
  flex-direction: column;
  background: url('/static/bg/pattern_24.gif');
  ul {
    background-color: #2E1F4C;

    // line-height: 30px;
    // padding: 7px 0;
    margin-bottom: -20px;
    border-top: 1px solid #aaa8a8;
    // border-bottom: 1px solid #000;

  }
}
@media only screen and (min-width: 650px) {
  ul {
        height: 35px;
  }
  .icon, .default2  {
    display: none;
  }
  li {
    margin: 0 10px;  
    padding: 7px;
  } 
}
@media only screen and (max-width: 649px) {
  .default2 a {
    background-color: #000;
    width: 100%;
    display: block;
        transition: .3s;
    padding: 7px;
    color: #ddd;
    text-decoration: none;
    // a.icon { background: red;}
    &:hover {
      color: #fff;
      background-color: #333;
    }
  }
  nav {
    position: absolute;
    width: 100%;
    img {
      display: none;
    }
    ul li {
      padding: 0;
      display: block;
      a {
        display: none
      }
    }
    // .icon  {
    //   display: block;
    //   width: 100%;
    // }
  }
  .responsive {
    // position: fixed;
    a:hover {
      text-decoration: none;
      color: #000;
    }
    // z-index: 999;
    width: 100%;
    
    li {
      }    

    li  {
      padding: 7px; 
      &:hover {
        background-color: #ccc;
      }
      a {
        display: block;
        width: 100%;
        transition:  5s;
      }
    }
    li.has-children {
      &:hover {
        background-color: #000;
      }
      a {
        color: #666;
        font-style: italic;
        cursor:default;
        &:hover {
          // color: #000;
          // background-color: #000;
        }
      }
    }
    .has-children ul li {
      &:hover {
        background-color: #ccc;
      }
      a {
        // background-color: #ccc;
        font-style: normal;
        color: #fff;
        &:hover {
          cursor: pointer;
          // background-color: #000;
          color: #000;
        }
      }
    }

    li.icon a{
      // background-color: blue;
      color: #fff;
      &:hover {
        background-color: #333;
        color: #ccc;
      }
      &:focus {
        background-color: #000;
      }
    }
  } // responsive  
}
</style>
