<template>
  <div id="">

    	<div class="container">
    		<h2>Great friendly family barber shop</h2>
    		<h3>by professional staff for all styles - Hair cuts, Shape-Ups, razo shave & hot towel, beard trim.
    		No appointment needed, just pop in.</h3>
    		<img src="/static/Oskars-Barber-4-Men.jpg" alt="Oskars Barbers 4 Men Shop" class="img-responsive cen-blo">
    		<img src="/static/Oskars-Barber-4-Men-no-appointment.gif" class="img-responsive cen-blo" alt="No appointment required">
<img src="/static/Oskars-Barber-4-Men.gif" alt="Oskars Barbers 4 Men tools" class="img-responsive cen-blo">
    	</div>
  </div>
</template>
<script>
export default {
  name: "",
  data: () => ({

  })
}
</script>
<style lang="scss" scoped>
// @import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
</style>
