<template>
  <div id="pictures">
	<div>
		<app-aside></app-aside>
	</div>
	<main>
    <div class="panel-body">
			<a href="/static/pic1.jpg" class="swipebox" title="Oskars Barber 4 Men - Shop Image 1" rel="barber"><img src="/static/pic1_sm.jpg" alt="Oskars Barbers 4 Men Towards Window" class="gen-mar img-rounded"></a>
			<a href="/static/pic2.jpg" class="swipebox" title="Oskars Barber 4 Men - Shop Image 2" rel="barber"><img src="/static/pic2_sm.jpg" alt="Oskars Barbers 4 Men From Door" class="gen-mar img-rounded"></a>
			<a href="/static/pic3.jpg" class="swipebox" title="Oskars Barber 4 Men - Shop Image 3" rel="barber"><img src="/static/pic3_sm.jpg" alt="Oskars Barbers 4 Men From middle" class="gen-mar img-rounded"></a>
			<a href="/static/pic4.jpg" class="swipebox" title="Oskars Barber 4 Men - Shop Image 4" rel="barber"><img src="/static/pic4_sm.jpg" alt="Oskars Barbers 4 Men from back" class="gen-mar img-rounded"></a>
			<a href="/static/pic5.jpg" class="swipebox" title="Oskars Barber 4 Men - Shop Image 5" rel="barber"><img src="/static/pic5_sm.jpg" alt="Oskars Barbers 4 Men Front close-up" class="gen-mar img-rounded"></a>
			<a href="/static/pic6.jpg" class="swipebox" title="Oskars Barber 4 Men - Shop Image 6" rel="barber"><img src="/static/pic6_sm.jpg" alt="Oskars Barbers 4 Men Towards Window close-up" class="gen-mar img-rounded"></a>
			<a href="/static/pic7.jpg" class="swipebox" title="Oskars Barber 4 Men - Shop Image 7" rel="barber"><img src="/static/pic7_sm.jpg" alt="Oskars Barbers 4 Men From floor" class="gen-mar img-rounded"></a>
			<a href="/static/pic8.jpg" class="swipebox" title="Oskars Barber 4 Men - Shop Image 8" rel="barber"><img src="/static/pic8_sm.jpg" alt="Oskars Barbers 4 Men Oskars Barbers 4 Men Shopt front" class="gen-mar img-rounded"></a>
			<a href="/static/pic10.jpg" class="swipebox" title="Oskars Barber 4 Men - Shop Image 10" rel="barber"><img src="/static/pic10_sm.jpg" alt="Oskars Barbers 4 Men from back close-up" class="gen-mar img-rounded"></a>
			<a href="/static/pic11.jpg" class="swipebox" title="Oskars Barber 4 Men - Shop Image 11" rel="barber"><img src="/static/pic11_sm.jpg" alt="Oskars Barbers 4 Men front left" class="gen-mar img-rounded"></a>
			<a href="/static/pic12.jpg" class="swipebox" title="Oskars Barber 4 Men - Shop Image 12" rel="barber"><img src="/static/pic12_sm.jpg" alt="Oskars Barbers 4 Men front" class="gen-mar img-rounded"></a>
			<a href="/static/pic13.jpg" class="swipebox" title="Oskars Barber 4 Men - Shop Image 13" rel="barber"><img src="/static/pic13_sm.jpg" alt="Oskars Barbers 4 Men from ceiling" class="gen-mar img-rounded"></a>
			<a href="/static/pic14.jpg" class="swipebox" title="Oskars Barber 4 Men - Shop Image 14" rel="barber"><img src="/static/pic14_sm.jpg" alt="Oskars Barbers 4 Men from right back" class="gen-mar img-rounded"></a>
		</div>

	</main>
  </div>

</template>
<script>
import aside from './aside'
// require('../../static/jquery.swipebox.js')
export default {
  name: "",
  data: () => ({
		swipe: false
	}),
	components : {
		'app-aside': aside
	}
}
</script>
<style lang="scss" scoped>


</style>
