<template>
  <div id="prices">
		<div>
			<app-aside></app-aside>
		</div>    
    <main>
      <div class="panel-body">
        <table>
          <tr v-for="price in menus">
            <td>{{ price.item }}</td><td>&pound;{{ price.price }}</td>
          </tr>
        </table>
        <!-- <div v-for="price in menus" class="price"> {{ price.item }} <span> &pound;{{ price.price }}</span></div> -->
      </div>
    </main>

  </div>
</template>
<script>
import axios from 'axios'
import aside from './aside'
export default {
  components: {
    'app-aside': aside
  },
  data: () => ({
      menus: [],
      prices: [
        // { item: 'Hair Cut', price: 9},
        // { item: 'Hot Towel Shave', price: 11},
        // { item: 'Hair Cut with Hot Towel Shave', price: 19},
        // { item: 'Kids under 12 (Mon-Fri)', price: 8},
        // { item: 'OAP over 65 (Mon-Fri)', price: 7},
        // { item: 'Beard Trim & Shape Up', price: 6},
        // { item: 'Hair Cut with Beard Trim', price: 12},
        // { item: 'Hair Cut with Beard Trim and Shape Up', price: 14},
        // { item: 'Razor Fade', price: 12},
        // { item: 'All Over 0,1,2,3', price: 8},
        // { item: 'Scissors Cut', price: 11}
      ]
  }),
  methods: {
    get() {
    }
  },
  created() {
    axios.get("http://localhost/nazs/prices")
    // axios.get("https://nazs.net/prices.php")
    // axios.get("https://jsonplaceholder.typicode.com/posts?userId=1")
    .then(response => {
      this.menus = response.data
      // console.log(this.menus);
    })
    .catch(err => console.log('Error: ', err))
  }
}
</script>
<style lang="scss" scoped>
table {
  font-size: 1.5em;
  text-align: left;
  td:last-child {
    padding-left: 20px;
  }
}
</style>
