<template>
  <div>
    <h2>Welcome to Oskars Barbers 4 Men Admin</h2>
    <div class="user">
        <h3 v-if="loggedIn">hello {{this.user.username}}
            <span class="logout" @click="logout">Logout</span>
        </h3>
    </div>

    <section v-if="loggedIn">
        
        <!-- <div id="update">updating...</div> -->
            <div class="data" >
                <div class="labels">
                    <label for="">Item</label>
                    <label for="" >Price</label>
                </div>
                <div v-for="(item, index) in db" :key="index" >
                    <input type="text" v-model="item.item" @change="updateItem(item)" class="item" :class="{ showStatus : updated }">
                    <input type="text" v-model="item.price" @change="updatePrice(item)" class="price" :class="{ showStatus : updated }">
                </div>
            </div>
                

        <form>
            <div class="field">
                <label for="">New Item: </label><input type="text" v-model="new1.item">
            </div>
            <div class="field">
                <label for="">Price: </label><input type="text" v-model="new1.price">
            </div>
            <div class="field">
                <label for=""> &nbsp;</label><button @click.prevent="add">Add item</button>
            </div>
        </form>
    
    </section>
    <section v-else>
        <form>
            <div class="field">
                <label for="">username</label> <input type="text" v-model="login.username">
            </div>
            <div class="field">
                <label for="">password</label> <input type="password" v-model="login.password">
            </div>
            <div class="field">
                <label for="">&nbsp;</label> <button @click.prevent="validate">Login</button>
                <span v-if="err" class="invalid">Invalid</span>
            </div>
        </form>
    </section>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
      return {
          loggedIn: false,
          url: 'http://localhost/oskars/indexAPI.php',
          host: location.hostname,
          db: {
              item: '',
              price: ''
          },
          updated: false,
          new1 : {
              item: '',
              price: ''
          },
          login: {
              username: '',
              password: ''
          },
          user: '',
          err: ''

      }
  },

  methods: {
      updateItem(db) {
          db.editItem = 1
          axios.post(this.url , db)
          .then(data => {
              if(data.data == 'success : edited Item') {
                this.updated = true;
              }
              setTimeout(this.reset, 800);
          })
      },
      reset() {
          this.updated = false
      },
      updatePrice(db) {
          db.editPrice = 1
          axios.post(this.url, db)
          .then(data => {
              if(data.data == 'success : edited Price') {
                this.updated = true;
              }
              setTimeout(this.reset, 800);
          })
      },
      add() {
          this.new1.addItem = 1
          axios.post(this.url, this.new1)
          .then(data => {
              if(data.data == 'success : added Item') {
                  this.new1 = {}
              }
          })
          .then(this.getData())
    
      },
      getData() {
          setTimeout(() => {
              axios.get(this.url)
              .then(data => this.db = data.data)          
          }, 1000);
          
      },
      logout() {
          this.loggedIn = false
          setTimeout(() => {
            this.clearLogin()
          }, 1000);
      },
      validate() {
          if(this.login.username.length === 0 && this.login.password.length === 0) {
              console.log('error');
              this.err = true
              setTimeout(() => {
                  this.err = false
              }, 1000);
          } else {
              this.loginUser()
          }
      },
      clearLogin() {
          this.login.username = ''
          this.login.password = ''
      },
      loginUser() {
          this.login.login = 1
          axios.post(this.url, this.login)
          .then(data => {
              if(data.data != 'user not found'){
            //   console.log(data.data);
                this.user = data.data
                this.loggedIn = true
                
              } else {
                  this.err = true
                  setTimeout(() => {
                      this.err = false
                  }, 1000);
                  console.log(this.login);
                  
              }
              
          })
          setTimeout(() => {
              this.clearLogin()
          }, 1000);
      }
  },

  created() {
      
    if(this.host != 'localhost') {
      if(this.host == '11.1.1.11') {
        this.url = 'http://11.1.1.11/oskars/indexAPI.php'
      } else {
        this.url = 'https://oskarsbarbers4men.co.uk/indexAPI.php'
      }    
    }
    
    this.getData()

  }
}
</script>
<style lang="scss">
@import "style";

// html, body {
//     margin: 0;
//     padding: 0;
// }

#app {
    // background-color: rgb(90, 21, 21);
}
h2, h3 {
    text-align: center;
    color: rgb(86, 13, 155);
    font-family: Helvetica;
}
h3 {
    font-style: italic;

}
input, button { 
    color: rgb(48, 2, 92);
    padding: 7px;
    font-size: 1em;
    border: 1px solid rgb(78, 5, 161);
    background-color: rgba(218, 178, 241, 0.13);
}
label {
    margin-top: 7px;
}
.data {
    padding: 0 3px;
    clear: both;
    .labels {
        font-family: Helvetica;
        font-weight: bold;
        label:first-child {
            width: 78%;
            display: inline-block;
            margin-left: 2px;
        }
        label:nth-child(2) {
            float: right;
            margin-right: 2px;
        }
    }
    div {
        margin: 5px 0;
    }
    @media only screen and (min-width: 600px){
        max-width: 450px;   
    }
    // width: 100%;
    margin: 0 auto;
    // border: 1px solid #ccc;
    // border-radius: 10px;
    // padding: 7px;
    text-align: left;
    input.price {
        text-align: right;
        float: right;
        width: 12%;
    }
    input.item {
        width: 78%;
    }
}
.invalid {
    color: red
}
#update {
    // float: right;
    
    margin-bottom: 5px;
    // border-radius: 5px;
    color: #fff;
    font-style: italic;
    display: block;
    padding: 5px;
    text-align: center;

    // background-color: rgb(77, 77, 231);
}
.showStatus {
    // background-color: rgb(87, 125, 228);
    border: 1px dashed rgba(37, 2, 77, 0.959);
}

form {
     color: rgb(48, 2, 92);
    @media only screen and (min-width: 600px){
        max-width: 320px;   
    }    
    border: 1px solid rgb(97, 7, 201);
    // border-radius: 7px;
    padding: 25px;
    font-family: Arial;
    display: block;
    // width: 300px;
    margin: 20px auto;
    button {
        padding: 5px;
    }
    .field {
        margin: 5px;
        // padding: 0 5px;
        input {
            // padding: 3px;
        }
        label {
            width: 80px;
            float: left;
            // padding-top: 5px;
        }
    }
}
.logout {
    border-radius: 7px;
    font-family: Arial;
    font-weight: normal;
    font-size: 14px;
    margin-left: 20px;
    color: white;
    padding: 5px;
    background-color: rgb(216, 129, 129);
    cursor: pointer;
}
</style>

