<template>
  <div id="app">
    <div class="wrapper">

      <nav>
        <!-- <span id="menu">MENU</span> -->
        <ul :class="{ responsive : show }">

          <li @click="show = false">
            <router-link to="/" exact>Home</router-link>
          </li>

          <li class="has-children" :class="{ afterHover : hideUL}"
            @mouseover = "hideUL = false"
          ><a href="#" >Projects
            <span class="arrow arrow-down"></span>
            </a>
            <ul>
              <!-- <li @click="hide">
                <router-link to="/sample" exact>Restaurant Menu</router-link>
              </li> -->
              <li @click="hide">
                <router-link to="/noRobots" exact>NoRobot</router-link>
              </li>
              <!-- <li @click="hide">
                <router-link to="/layouts" exact>Layouts</router-link>
              </li> -->
            </ul>
          </li>
          <li @click="show = false">
            <router-link to="/obsession" exact>Clone Stamp</router-link>
          </li>
          <li @click="show = false">
            <router-link to="/cv" exact>CV</router-link>
          </li>

          <!-- <li class="has-children"><a href="#">Obsession
            <span class="arrow arrow-down"></span>
            </a>
            <ul>
              <li @click="show = false">
                <router-link to="/clone" exact>Clone Stamp</router-link>
              </li>
              <li @click="show = false">
                <router-link to="/noRobots" exact>Contact</router-link>
              </li>
            </ul>
          </li> -->
          <li class="icon" :class="{ default2 : hideUL }" @click="hide2"
            ><a href="#" ref="trigg"  @click="hide">&#x2744;</a></li>
        </ul>

      </nav>
      <header></header>

      <router-view></router-view>

    </div>

      <footer>&#169; 2017 Nazs.Net | Resources and such... <span></span></footer>
  </div>

</template>

<script>
// import header from './components/header.vue'
// import footer from './components/footer.vue'
// import booking from './components/booking.vue'
// import start from './components/start.vue'
// import sample from './components/menus/restaurant.vue'
// import {mapGetters} from 'vuex'

import axios from 'axios'
export default {
  components : {
    // 'app-header': header,
    // 'app-footer': footer,
    // 'app-booking': booking,
    // 'app-sample': sample
    // 'app-start': start
  },
  data () {
    return {
      show: false,
      hideUL: false,
      default: false
    }
  },
  computed: {
    // ...mapGetters([])
  },
  methods: {
    hide() {
      this.show = !this.show
      this.hideUL = true
      console.log('message ' + this.hideUL) // testing ignoring semi-colon
      // console.log(this.$refs.outer;
    },
    hide2() {
      this.default = true;
    },
    logIn() {

    },
    getMenus() {
        var t = this.$store.state;
        axios.get(t.url + 'all').then(function(data){
          this.$store.commit('setMenus', data.body);
          // console.log(data.body);
      });
    }
  },
  created() {
    var t = this.$store.state;
    this.$store.commit('setUrl');
    this.getMenus();
  }
}
</script>

<style lang="scss">
// @import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css");
// @import '../node_modules/vuetify/dist/vuetify.min.css';
// @import "style";
@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../../bower_components/susy/sass/susy";
@import "../../mixins/base";
html, body, #app {
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
}
a.router-link-exact-active, a.router-link-exact-active li  {
  // default values -- $col: #fff, $bgcol: #cc
  @include exact-link(#000, lightgrey);
  width: 100%;
  display: block;
  // border-radius: 4px;
}
.wrapper {
  flex: 1 0 auto;
  // display: flex;
  // flex-direction: column;
}
header {
  height: 40px;
}

.start {
  padding-top: 40px;
}
.landing {
  h4, h5 {
    // letter-spacing: 12px!important;
    font-family: monospace;
  }
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;
  background-position: top center;
  div {
    // position: absolute;
    // top: 20%;
    padding: 10px 20px;
    @media only screen and (min-width: 660px) {
      margin-right: 3em;
    }
    background-color: rgba(0,0,0,.3);
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }
  h4, h5, h6 {
    letter-spacing: 5px;
  }
  h6 {
    // font-family: Courier;
    font-size: 1.2em;
    // letter-spacing: 3px;
  }
  h4, h5, h6 {
    color: #fff;
  }
  p {
    color: #fff;
    font-style: italic;
    text-align: right;
    letter-spacing: 3px;
    font-family: helvetica;
  }
}
section {
  // height: 3vh;
  // background: #000;
  // border-top: 1px solid #333;
  // border-bottom: 1px solid #333;
}
footer {
  border-top: 2px solid #000;
  // height: 25vh;
  background: #333;
  color: #ccc;
  letter-spacing: 0px;
  // line-height: 4vh;
  padding: 15px 20px;
  font-family: monospace;
  span {
    float: right;
  }
  transition: .9s;
  @include breakpoint(500px){
    // height: 10vh;
    letter-spacing: 2px;
  }
  @include breakpoint(717px) {
    // line-height: 10vh;
    // bobbie
  }
}

nav {
  position: fixed;
  display: flex;
  background-color: #000;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid #666;
  @media print {
    display: none !important;
  }
}
nav ul, nav ul li, a {
  margin: 0;
  padding: 0;
}

.default2 a {
  background-color: #000;
  // color: #fff;
}

@media only screen and (max-width: 479px) {
  nav li a {
    // color: red;
  }
  a.header {
    cursor: default;
  }
  .has-children ul {
    a {
      padding-left: 2em;
    }
  }
  a.router-link-exact-active, a.router-link-exact-active li a  {
    display: none;
    @include exact-link(#000, lightgrey);
  }

  ul li a {
    transition:  5s;
    display: none;
  }
  li a {
    padding: .8rem;
  }
  ul li.icon a {
    padding: .2rem;
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    &:hover {
      background-color: #333;
    }
    &:focus {
      background-color: #333;
    }
  }

  li.has-child ul li  {
    // display: block;
    width: 100%;
    padding: 0;
    a {
      &:hover {
        background-color: purple;
      }
    }
  }

  .responsive {
    // position: fixed;
    a:hover {
      text-decoration: none;
      color: #000;
    }
    // z-index: 999;
    width: 100%;
    li  {
      &:hover {
        background-color: #ccc;
      }
      a {
        display: block;
        width: 100%;
        transition:  5s;
      }
    }
    li.has-children {
      &:hover {
        background-color: #000;
      }
      a {
        color: #666;
        font-style: italic;
        cursor:default;
        &:hover {
          // color: #000;
          // background-color: #000;
        }
      }
    }
    .has-children ul li {
      &:hover {
        background-color: #ccc;
      }
      a {
        // background-color: #ccc;
        font-style: normal;
        color: #fff;
        &:hover {
          cursor: pointer;
          // background-color: #000;
          color: #000;
        }
      }
    }

    li.icon a{
      // background-color: blue;
      color: #fff;
      &:hover {
        background-color: #333;
        color: #ccc;
      }
      &:focus {
        background-color: #000;
      }
    }
  } // responsive


  nav ul li {
    display: block;
    width: 100%;
    &:hover {
      background-color: #333;
      text-decoration: none;
    }
    a {
      color: #fff;
      &:focus {
        background-color: #333;
        color: #000;
      }
    }
  }
  nav ul li.icon {
    &:hover {
      // background-color: red;
    }
    a {
      text-decoration: none;
      width: 100%;
      text-align: center;
      display: block;
      color: #fff;
      padding: .2rem;
      &:focus {
        background-color: #000;
        // color: #000;
      }
    }
  }

}
@media only screen and (min-width: 480px) {
  .arrow {
    font-family: FontAwesome;
    float: right;
    margin-right: 3rem;
  }
  .arrow-down::after {
    content: "\f107";
  }
  nav ul li {
    display: block;
    width: 100%;
    a {
      color: #fff;
      &:hover, &:focus {
        text-decoration: none;
        background-color: lightgrey;
        color: #000;
      }
    }
  }
  nav ul{
    flex-direction: row;
    justify-content: space-between;
  }
  nav ul li {
    position: relative;
    // flex: 1 0 auto;
  }
  nav {
    height: 40px;
    line-height: 40px;

    // display: block;
    ul {
      // position: relative;
      // display: flex;
      .has-children li a {
        text-align: left;
        padding-left: 3rem;
      }
      li {
        // position: absolute;
        // padding: 0 15px;
        // text-align: center;
        a {
          padding-left: 2rem;
          display: block;
          width: 100%;

        }
      }
    }
  }
  .has-children ul {
    // flex-direction: column;
    display: none;
  }
  nav ul li:hover ul {
    display: flex;
    flex-direction: column;
  }
  .afterHover {
    ul li {
      display: none;
    }
  }
  li.has-children ul {
    // position: absolute;
    // position: fixed;
    // position: static;
    // position: relative;
  }
  nav li  {
    // background-color: red;
    &:hover {
      background-color: #333;
    }
  }
  #ul {
    // position: relative;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  li.icon {
    display: none;
  }

}
@media only screen and (min-width: 800px) {
  #app {

    nav {
    }
    nav>ul {
      margin: 0 auto;
      width: 700px;
    }
  }
}

</style>
