<template>
  <div id="app">
    <div id="wrapper">

    <app-head></app-head>
    <router-view></router-view>
    <!-- <app-home></app-home>
    <app-prices></app-prices>
    <app-aside></app-aside> -->
    <!-- <app-pictures></app-pictures> -->
    </div>
    <div id="footer">
      <app-foot></app-foot>
    </div> 


  </div>
</template>

<script>
// require('bootstrap');
import header from './components/header'
import footer from './components/footer'
import home from './components/home'
import prices from './components/prices'
import pictures from './components/pictures'
import aside from './components/aside'
export default {
  name: 'app',
  data () {
    return {
      show: false,
      msg: 'Welcome to Your Vue.js App'
    }
  },
  methods: {
    overlay() {
      this.show = !this.show
      console.log('test');
      
    }
  },
  components: {
    'app-head': header,
    'app-foot': footer,
    'app-home': home,
    'app-prices': prices,
    'app-aside': aside,
    'app-pictures': pictures
  }
}
</script>

<style lang="scss">
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
* {
  transition: .3s;
}
html, body, #app {
  height: 100%;
}
#overlay {
  background-color: #000;
  display: none;
  position: absolute;
  opacity: .8;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 1s;
}
#overlay.overlay {
  display: block;
  transition: 1s;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  // max-width: 960px;
  // margin: 0 auto;
  // margin-top: 60px;
}
#wrapper {
    flex: 1 0 auto;
    // background: #000;
}
#pictures, #prices {
	display: flex;
	max-width: 960px;
  margin: 30px auto 0;
  main {
    order: 1;
    // border: 1px solid #000;
    border-radius: 5px;
    margin: 0 auto;
    // margin-left: 20px;
    max-width: 500px;
  }
}
@media only screen and (min-width: 650px) {
  #pictures, #prices {
    > div {
      width: 230px;
      // color: red;
    }
  }  
}
@media only screen and (max-width: 649px) {
  #pictures, #prices {
    flex-direction: column;
    main {
      order: -1;
      margin: 0 auto 20px;
    }
  }
}
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  // margin: 0 10px;
}

a {
  color: #42b983;
}
.cen-blo {
  margin: 0 auto;
}
</style>
